Django>=1.9.7

requests>=2.6.2

django-mptt
django-mptt-admin
django-model-utils
django-cors-headers

### PostgresSQL driver
psycopg2>=2.5.4

Celery >=3.1.10

djangorestframework
drf-extensions
# djangorestframework-bulk

Pillow==2.9.0

raven

# pytz

uwsgi

redis
django-redis

